<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" >
    <parameter name="loginLink" value="http://v999140x.beget.tech/wp-login.php"/>
    <parameter name="username" value="test_olga"/>
    <parameter name="password" value="123456"/>
    <test name="LoginTest" >
        <classes>
            <class name="testsforWordPress.LoginTest"></class>
        </classes>
    </test>
    <test name="AddPost">
        <classes>
            <class name="testsforWordPress.PostTest"></class>
        </classes>
    </test>
</suite>